<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
This is the contact page for <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
Please contact us at <a href="xxxx@ddd.com">Email</a>
</p>